{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VictoryPro | Exam</title>

</head>
<body>
<div class="main">
  
  <div class="content" style="text-align: center;">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Select Your</span> Course</h2>
          <div class="clr"></div>
        </div>
        <div class="article">          
          <div class="clr"></div>
          {% for i in courses %}
          <a href="{% url 'exam_instructions' cname=i.cname %}">
          <button type="button" value="{{i.cname}}" name="cname" style="background:  rgb(50, 210, 0); color: white; border-radius: 10px; font-size: 15px; padding: 0px 25px;">{{i.cname}}</button>
          </a>    
          {% endfor %}         
        </div>
      </div>
      

      <div class="clr"></div>
    </div>
  </div>
  
 
</div>
</body>
</html>
{% endblock %}