{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VictoryPro | Exam Instructions</title>

</head>
<body>
<div class="main">
  
  <div class="content" style="text-align: left;">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Your Course</span> {{cname}}</h2>
          <div class="clr"></div>
        </div>
        <h3 style="font-size: 20px; color: white; padding-left: 35px;">Welcome To {{cname}} Exam, {{request.session.fname}}</h3>
        <h3 style="font-size: 17px; color: white; padding-left: 35px;">Please Follow The Instruction To Start The Exam</h3>
        <h3 style="font-size: 15px; color: white; text-align: left; padding-left: 55px;">
        <ul>          
          <li>Exam Time will be 30 mins</li>
          <li>No Negetive Marking</li>
          <li>Each Question Contain 1 Marks For Correct Answer</li>                    
        </ul>
        </h3>
        <h2 style="padding-left: 50px;">
        
          <button type="submit" value="Start Exam" style="background:  rgb(50, 210, 0); color: white; border-radius: 10px; font-size: 15px; padding: 0px 25px;"><a href="{% url 'startexam' cname=cname %}"> Start Exam </a></button>
        </h2>
        <div class="article">          
          <div class="clr"></div>
                  
        </div>
      </div>
      
      <div class="clr"></div>
    </div>
  </div>
  
 
</div>
</body>
</html>
{% endblock %}